<div class="navbar navbar-default navbar-fixed-top navbar-inverse">

    <div class="navbar-header">

        <button type="button" class="btn btn-default navbar-btn" ng-click="goToHome()">
            <span class="glyphicon glyphicon-home"></span>
        </button>
        <button type="button" class="btn btn-default navbar-btn" ng-click="goToInfo()">Information</button>
    </div>

</div>

<div class="container">
<h1>Here are some examples</h1>

    <div class="form-group bigger">
      <h3>Yesterday I went to the <span class="stress">store</span>.</h3>
    </div>
    <div class="form-group bigger">
      <h3>Everyone wants to tell a <span class="stress">story</span> today.</h3>
    </div>
    <div class="form-group bigger">
      <h3>Take it there <span class="stress">now</span>!</h3>
    </div>
    <div class="form-group bigger">
      <h3>It's composed of <span class="stress">pictures</span>.</h3>
    </div>
    <div class="form-group bigger">
      <h3>There's no way it's <span class="stress">over</span>, right?</h3>
    </div>

</div>
