
<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="navbar-header">  

    </div>
</div>

<div class="container">
<h1>Welcome to the #NAIL Practice App</h1>


         <input type="button" class="btn btn-default" value="See some examples" ng-click="goToExamples()"></input>
<!--         <input type="button" class="btn btn-default" value="Take a quiz" ng-click="goToQuiz()"></input> -->
          <input type="button" class="btn btn-default" value="Read about it" ng-click="goToInfo()"></input>
</div>
