<div class="navbar navbar-default navbar-fixed-top navbar-inverse">

    <div class="navbar-header">

        <button type="button" class="btn btn-default navbar-btn" ng-click="goToHome()">
            <span class="glyphicon glyphicon-home"></span>
        </button>
        <button type="button" class="btn btn-default navbar-btn" ng-click="goToExamples()">Examples</button>

    </div>

</div>

<div class="container">
<h1>Information on the #NAIL placement of anchor stress</h1>

    <div class="form-group bigger">
      <h3> Using the #NAIL predictive model, there should be either 1 or 2 main sentence stresses (in an informal register), and a simplified version of the algorithm goes like so:</h3>
<ul>
    <li>find the first main stress by finding the final content word in the sentence.</li>
    <li>find the second main stress by starting at the beginning of the sentence and moving right until you find one of these (in this order). If you don't find one, move to the next thing to look for. If you find none of them, then there is only one main stress in the sentence.</li>
    <li># cardinal number (eg, three), ordinal number (eg, third), order words (eg, next/last/previous/following), superlatives (most/Adjective-est/Adverb-est)</li>
    <li>N Noun</li>
    <li>A Adverb, which modifies a verb or a whole phrase</li>
    <li>I Imperative verb (command form)</li>
    <li>L Loud function word (any verb with negation, not, no)
    <li>1st content word</li>
</ul>

<h3>By "Content word", the project is looking for nouns, adjectives, main verbs (not modals or aux verbs), adverbs, and Wh- question words</h3>

<h3>based on the work of Dickerson(2015): <a href"https://apling.engl.iastate.edu/alt-content/uploads/2015/05/PSLLT_6th_Proceedings_2014.pdf">https://apling.engl.iastate.edu/alt-content/uploads/2015/05/PSLLT_6th_Proceedings_2014.pdf</a></h3>
    </div>

</div>
